<!-- <div class="uploader-status">
    <mat-progress-spinner color="warn" mode="indeterminate" ></mat-progress-spinner>
</div> -->
<div class="loadermain static">
    <!-- <div class="loader">Loading...</div> -->
    <div class="loader-inner line-spin-fade-loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <span *ngIf="message && message != null" class="partial_l_text">{{message}}</span>
    <!-- <span *ngIf="message && message != null">{{message}}</span> -->
</div>


<!-- <div class="loader">Loading...</div> -->